@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');

@mixin backgroundParams {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

$mainBgColor: rgb(20, 50, 80);

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Graduate', cursive;
}

.social-media-icons {
  margin-left: 4rem;
  border: 1px solid white;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  color: white;

  a {
    padding-left: 0.2rem;
    color: white;
    &:hover {
      color: gray;
    }
  }

  span {
    padding-left: 0.5rem;
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  background-color: $mainBgColor;
  height: 10vh;
  width: 100%;
  z-index: 1;

  #logo {
    margin-left: 2rem;
    font-size: 2rem;
    color: white;
    text-decoration: none;

    span {
      margin-left: 0.5rem;
    }
    &:hover {
      color: gray;
    }
  }
  
  nav {
    margin-right: 2rem;
    
    ul {
      display: flex;
      
      li {
        .active {
          background-color: gray;
          padding: 0.5rem;
          border-radius: 0.5rem;
        }
        margin-left: 2rem;
        list-style: none;

        a {
          color: white;
          text-decoration: none;
          &:hover {
            background-color: gray;
            border-radius: 0.2rem;
          }
        }
      }
    }
  }

  #nav-menu-icon {
    margin-right: 1rem;
    font-size: 3rem;
    color: white;
    display: none;
    z-index: 1;
  }
}

main {
  #home,
  #hours,
  #contact {
    padding-top: 10vh;
  }

  #home {
    @include backgroundParams;
    background-image: url("assets/home.jpg");
    padding-top: 30vh;
    text-align: center;
    color: white;
    height: 100vh;

    hr {
      margin: 1rem auto;
      background-color: white;
      border: none;
      height: 0.3rem;
      width: 25%;
    }

    button {
      padding: 10px 20px;
      background-color: $mainBgColor;
      color: white;
      border-radius: 10px;
      border: none;
      &:hover {
        cursor: pointer;
        color: gray;
      }
    }
  }

  #hours {
    @include backgroundParams;
    background-image: url("assets/hours.jpg");
    height: 100vh;

    #hours-top {
      margin-top: 5rem;
      margin-left: 2rem;
      color: white;
      letter-spacing: 0.2rem;

      h1 {
        font-size: 2rem;

      }
      span {
        font-size: 1rem;
      }
    }

    #hours-bottom {
      margin-left: 2rem;
      margin-top: 8rem;
      padding: 0.5rem;
      font-size: 0.8rem;
      letter-spacing: 0.1rem;
      color: white;
      border: 0.2rem solid white;
      width: fit-content;
    }
  }

  #menu {
    height: 100vh;
    display: flex;
    justify-content: space-between;

    #menu-bg-img {
      @include backgroundParams;
      background-image: url("assets/menu.jpg");
      height: 100vh;
      width: 30%;
    }

    #menu-container {
      display: grid;
      grid-template-columns: auto auto;
      grid-gap: 2rem;
      padding: 10vh;
      width: 70%;
      font-size: 0.9rem;
      background-color: BurlyWood;
      color: $mainBgColor;
    }
  }

  #contact {
    @include backgroundParams;
    background-image: url("assets/contact.jpg");
    height: 100vh;

    div {
      height: 75vh;
      width: 90%;
      margin: 2rem auto;
      text-align: center;
      padding: 4rem;
      background-color: rgba(255,255,255,0.2);
      color: $mainBgColor;
      border-radius: 1rem;

      h1 {
        padding-bottom: 1rem;
        font-size: 3rem;
        letter-spacing: 0.5rem;
      }

      h4 {
        font-size: 1.5rem;
      }
    }
  }
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.2rem 2rem;
  background-color: $mainBgColor;
  color: white;
  height: 10vh;
  
  a {
    color: white;
    text-decoration: none;
    &:hover {
      color: gray;
    }
  }
}

@media screen and (max-width: 992px) {
  header {
    #nav-menu-icon {
      display: block;
    }

    #logo {
      margin-left: 1rem;
      font-size: 2rem;
    }

    .social-media-icons {
      display: none;
    }

    nav {
      position: fixed;
      top: 0;
      left: -200%;
      background-color: black;
      height: 100vh;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      ul {
      flex-direction: column;
      align-items: center;  
      padding: 0;

        li {
          margin-left: 0;
          padding: 1rem 0;

          a {
            font-size: 1rem;
          }
        }
      }
    }
    
    .nav-toggle {
      left: 0;
    }
  }

  main {
    #home {
      padding: 10rem 2rem;
    }

    #hours {
      background-position: center;

      #hours-top {
        margin-top: 5rem;
        letter-spacing: 0;

        span {
        font-size: 0.7rem;
        }
      }

      #hours-bottom {
        width: 50%;
        padding: 1rem;
      }
    }

    #menu {
      height: 170vh;

      #menu-bg-img {
        display: none;
      }

      #menu-container {
        grid-template-columns: auto;
        width: 100%;
        padding: 10vh 5vh;
      }
    }
    
    #contact {
      div {
        padding: 5rem 1rem;
        width: 70%;

        h1 {
          letter-spacing: 0;
        }

        h4 {
          font-size: 1rem;
        }
      }
    }
  }

  footer {
    padding: 1rem 1rem;

    a span {
      display: block;
    }
    .social-media-icons {
      margin-left: 0;
      span {
        display: block;
        padding: 0.2rem 0 0 0;
      }
    }
  }
}